/*
cores:
cinza escuro #818181
cinza claro #c3c3c3c3
branco #fdffff
Azul #010081
teal #008080
pink #ff0081
black #000

*/



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #008080;
}


.navbar{
    background-color: #008080;
    font-family: "Pixelify Sans", sans-serif;

}
.nav1{
    display: flex;
    justify-content: space-evenly;
}

.icolink{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.icopic{
    height: 3em;
}

a.icolink:hover{
    border: 1px dotted #fdffff;

}

