section{
    margin:auto;
    padding: 10px 20px ; 
    border: 5px solid brown;
}
article{
    margin:20px;
    padding: auto;
    border: 4px double blueviolet
}
article h4{
    text-align: center;
    margin: auto;
}
article input{
    text-align: center;
    margin:
}